[submodule "xmarts-addendas-XM"]
	path = xmarts-addendas-XM
	url = git@github.com:xmarts/xmarts-addendas-XM.git
[submodule "xmarts-addenda-envases-universal"]
	path = xmarts-addenda-envases-universal
	url = git@github.com:xmarts/xmarts-addenda-envases-universal.git
